.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
}

.wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-item {
	padding: 5px;
	margin: 10px;
}

.card.card {
	width: 18rem;
	border-radius: 30px;
	height: 14rem;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 30px;
	margin-right: 0px;
}

.card.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardbody.card-body {
	overflow: scroll;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
.card-body.tryingit {
	// background-color: #cedeef;
	// border-top-left-radius: 27px;
	// border-top-right-radius: 27px;
	padding: 0px;
	margin-bottom: 0px;
	display: flex;
	//justify-content: center;
	align-items: center;
}
.h5 {
	text-align: left;
	font-size: 20px;
	margin-left: 60px;
	margin-top: 20px;
}

.card-text {
	font-size: 17px;
}

.card-body.overridetext {
	// background-color: #cedeef;
	// border-bottom-left-radius: 27px;
	// border-bottom-right-radius: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.material-icons {
	font-size: 20px;
	position: absolute;
	//margin-top: 8px;
	margin-left: 20px;
	color: rgb(53, 130, 202);
}
