input:focus {
	outline: none;
}

.login-input {
	width: 233px;
	padding: 8px 8px 8px 25px;

	font-size: 15px;

	box-shadow: none;
}

.material-icons {
	opacity: 0.3;
	font-size: 20px;

	position: absolute;

	margin: 10px 0 0 5px;
}

.error {
	border-color: red;
}

.error-text {
	color: red;
	font-size: 15px;
	text-align: left;
}
