@import "../../utilities/colorPalette.scss";

.input-wrapper {
	.input-outlined {
		border-radius: 5px;
		border-style: solid;
		border-color: gray;
		margin: 15px 0px;
		width: 100%;
		padding: 8px 8px 8px 40px;
		font-size: 15px;
	}

	.material-icons {
		font-size: 20px;
		position: absolute;
		margin: 15px 0px 0px 10px;
		color: $dream-blue;
	}

	.error {
		border-color: red;
	}

	.error-text {
		color: red;
		font-size: 15px;
		text-align: left;
	}
	.field-header {
		position: absolute;
		font-size: 12px;
		margin: 5px 0px 0px 40px;
		padding: 0px 5px;
		background: white;
	}
}
