@import "../../utilities/colorPalette.scss";

.input-wrapper {
	.input-outlined {
		border-radius: 5px;
		border-style: solid;
		border-color: gray;
		margin: 15px;
		width: 233px;
		padding: 8px 8px 8px 30px;

		font-size: 15px;
	}

	.material-icons {
		font-size: 20px;

		position: absolute;

		margin: 15px 0 0 20px;
		color: $happy-blue;
	}

	.error {
		border-color: red;
	}

	.error-text {
		color: red;
		font-size: 15px;
		text-align: left;
	}
}
