@import '../../utilities/colorPalette.scss';

.invitation-btns.one-btn {
	.big-button {
		width: 100%;
	}
}
.invitation-btns.two-btns {
	.big-button {
		width: 50%;
	}
}
.invitation-btns.three-btns {
	.big-button {
		width: 33.333333%;
	}
}

.rejected-msg {
	p {
		margin: 10px 0;
		text-align: center;
	}
}

.invitation-btns .big-button:active,
.invitation-btns .big-button:focus {
	background: $fun-yellow;
}
