@import '../../../utilities/colorPalette.scss';

button:focus {
	outline: none;
}

.big-button {
	width: 270px;
	padding: 8px;

	font-size: 15px;
	font-weight: bold;

	border: none;
	box-shadow: none;

	background: $happy-blue;
	color: white;
}
