@import '../../utilities/colorPalette.scss';
@import '../../utilities/mediaQueries.scss';

.trip-details-header {
	padding: 20px;
	text-align: center;
}
.trip-details {
	background: $dream-blue;
	color: white;

	padding: 30px 20px;
}
.trip-details-headings {
	font-weight: bold;
	font-size: 18px;
}
