// $happy-blue: #2f89fcff;
$happy-blue: #4385f7;
$dream-blue: #3d6cb9;
$dream-blue-fade: #86a3d3;
$fun-yellow: #ffd31d;
$trust-green: #1abb9c;

// traffic lights
$traffic-green: #7cdd82;
$traffic-red: #df7f7f;
$traffic-yellow: #f0d06d;

// user markers
$user-1: #9b59b6;
$user-2: #3498db;
$user-3: #1abc9c;
$user-4: #f1c40f;
$user-5: #f39c12;
$user-6: #e74c3c;
$user-7: #34495e;
