// $happy-blue: #2f89fcff;
$happy-blue: #4385f7;
$dream-blue: #3d6cb9;
$dream-blue-fade: #86a3d3;
$fun-yellow: #ffd31d;
$trust-green: #1abb9c;
$overlay-green: #056638;

// traffic lights
$traffic-green: #7cdd82;
$traffic-red: #df7f7f;
$traffic-yellow: #f0d06d;
