@import "../../utilities/colorPalette.scss";

.big-button {
	width: 100%;
	padding: 8px;

	font-size: 15px;
	font-weight: bold;

	border: none;
	border-radius: 5px;
	box-shadow: none;

	background: $happy-blue;
	color: white;
}
