@import "../../utilities/colorPalette.scss";

.login-page-wrapper {
	margin: 15px;
	.header {
		margin-bottom: 25px;
	}
	h1 {
		color: $happy-blue;
	}
	p {
		text-align: center;
		font-size: 16px;
	}
}
