@import '../src/utilities/colorPalette.scss';

.App {
	text-align: center;
}
.app-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

/* ---------- Logo ----------- */
.caravan-logo {
	height: 100px;
	pointer-events: none;
}

/* ---------- Typography ----------- */
body {
	font-family: 'Quicksand', sans-serif !important;
	font-weight: 300 !important;
}
p {
	font-size: 18px;
	text-align: center;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	font-size: 18px;
}
h1 {
	font-family: 'Fredoka One', sans-serif;
	font-size: 35px !important;
}
h2 {
	font-family: 'Fredoka One', sans-serif;
	font-size: 30px !important;
}
h3 {
	font-family: 'Fredoka One', sans-serif;
	font-size: 25px !important;
}

/* ---------- Helper styles ----------- */
.no-margin {
	margin: 0;
}
