@import '../../utilities/colorPalette.scss';

.modal-button {
	padding: 30px 0;
	border: 0;

	color: white;
	background: $traffic-red;
}
.modal-button:first-child {
	border-bottom-left-radius: 50px;
	background: $traffic-green;
}

.modal-button:last-child {
	border-bottom-right-radius: 50px;
	background: $traffic-yellow;
}
.two {
	width: 50%;
}
.three {
	width: 33.33333%;
}
.start {
	border-bottom-right-radius: 0 !important;
	background: $traffic-green !important;
}
.leave {
	background-color: $traffic-red !important;
}
